<a href="https://colab.research.google.com/github/majjariswathi/Open-Source-Project/blob/master/KNNAdult_Data_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [4]:
heads = ['age','workclass','fnlwgt','education','educationnum','martialstatus','occupation','relationship','race','sex','capital-gain','capital-loss', 'hourspw','country','class']
data = pd.read_csv("adults.csv", names = heads)

In [ ]:
data.head(5)

,age,workclass,fnlwgt,education,educationnum,martialstatus,occupation,relationship,race,sex,capital-gain,capital-loss,hourspw,country,class
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

In [5]:
data.isnull().sum()

age              0
workclass        0
fnlwgt           0
education        0
educationnum     0
martialstatus    0
occupation       0
relationship     0
race             0
sex              0
capital-gain     0
capital-loss     0
hourspw          0
country          0
class            0
dtype: int64

In [6]:
data.dtypes

age               int64
workclass        object
fnlwgt            int64
education        object
educationnum      int64
martialstatus    object
occupation       object
relationship     object
race             object
sex              object
capital-gain      int64
capital-loss      int64
hourspw           int64
country          object
class            object
dtype: object

In [7]:
data = data.drop(["education"], axis = 1)

In [8]:
for i in range(len(data)):
    if data['class'][i] == ' <=50K':
        data['class'][i] = 1
    else:
        data['class'][i] = 0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [9]:
data

       age          workclass  fnlwgt  ...  hourspw         country class
0       39          State-gov   77516  ...       40   United-States     1
1       50   Self-emp-not-inc   83311  ...       13   United-States     1
2       38            Private  215646  ...       40   United-States     1
3       53            Private  234721  ...       40   United-States     1
4       28            Private  338409  ...       40            Cuba     1
...    ...                ...     ...  ...      ...             ...   ...
48837   39            Private  215419  ...       36   United-States     1
48838   64                  ?  321403  ...       40   United-States     1
48839   38            Private  374983  ...       50   United-States     1
48840   44            Private   83891  ...       40   United-States     1
48841   35       Self-emp-inc  182148  ...       60   United-States     0

[48842 rows x 14 columns]

In [10]:
data = data.applymap(lambda x: np.nan if x == " ?" else x)

In [11]:
data = data.dropna()

In [12]:
data.dtypes

age               int64
workclass        object
fnlwgt            int64
educationnum      int64
martialstatus    object
occupation       object
relationship     object
race             object
sex              object
capital-gain      int64
capital-loss      int64
hourspw           int64
country          object
class             int64
dtype: object

In [13]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
data['workclass'] = lb.fit_transform(data['workclass'])
data['martialstatus'] = lb.fit_transform(data['martialstatus'])
data['occupation'] = lb.fit_transform(data['occupation'])
data['relationship'] = lb.fit_transform(data['relationship'])
data['race'] = lb.fit_transform(data['race'])
data['sex'] = lb.fit_transform(data['sex'])
data['country'] = lb.fit_transform(data['country'])

In [14]:
data.head()

   age  workclass  fnlwgt  educationnum  ...  capital-loss  hourspw  country  class
0   39          5   77516            13  ...             0       40       38      1
1   50          4   83311            13  ...             0       13       38      1
2   38          2  215646             9  ...             0       40       38      1
3   53          2  234721             7  ...             0       40       38      1
4   28          2  338409            13  ...             0       40        4      1

[5 rows x 14 columns]

In [15]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [16]:
data.dtypes

age              int64
workclass        int64
fnlwgt           int64
educationnum     int64
martialstatus    int64
occupation       int64
relationship     int64
race             int64
sex              int64
capital-gain     int64
capital-loss     int64
hourspw          int64
country          int64
class            int64
dtype: object

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [18]:
from sklearn.preprocessing import StandardScaler
sc =  StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

In [19]:
from sklearn.neighbors import KNeighborsClassifier
k = KNeighborsClassifier(n_neighbors = 3)
k.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [20]:
y_pred = k.predict(X_test)

In [21]:
(y_pred != y_test).sum()

1628

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8200110558319513

In [23]:
accuracy_score(y_train, k.predict(X_train))

0.8968958177847803